In [2]:
#instalarea bibliotecii
!pip install numpy

Collecting numpy
  Downloading numpy-1.21.0-cp37-cp37m-win_amd64.whl (13.9 MB)
Installing collected packages: numpy
Successfully installed numpy-1.21.0

WARNING: You are using pip version 20.1.1; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\clasa215b_nt17\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [3]:
!pip install pandas

Collecting pandas

WARNING: You are using pip version 20.1.1; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\clasa215b_nt17\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

  Downloading pandas-1.3.0-cp37-cp37m-win_amd64.whl (10.0 MB)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.21.0)
Requirement already satisfied: six>=1.5 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.0 pytz-2021.1

In [4]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.4.2-cp37-cp37m-win_amd64.whl (7.1 MB)
Collecting pillow>=6.2.0
  Downloading Pillow-8.3.1-cp37-cp37m-win_amd64.whl (3.1 MB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.16 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (1.21.0)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp37-cp37m-win_amd64.whl (51 kB)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: six>=1.5 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.4.2 pillow-8.3.1

WARNING: You are using pip version 20.1.1; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\clasa215b_nt17\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [5]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: matplotlib>=2.2 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (3.4.2)
Collecting scipy>=1.0
  Downloading scipy-1.7.0-cp37-cp37m-win_amd64.whl (33.6 MB)
Requirement already satisfied: pandas>=0.23 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (1.3.0)
Requirement already satisfied: numpy>=1.15 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (1.21.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.7.0 seaborn-0.11.1

WARNING: You are using pip version 20.1.1; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\clasa215b_nt17\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [6]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp37-cp37m-win_amd64.whl (6.8 MB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn->sklearn) (1.21.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\clasa215b_nt17\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn->sklearn) (1.7.0)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Using legacy setup.py install for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
    Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.0.1 scikit-learn-0.24.2 sklearn-0.0 threadpoolctl-2.1.0

WARNING: You are using pip version 20.1.1; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\clasa215b_nt17\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [7]:
import numpy  as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('heart.csv')

In [9]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [11]:
# amestecam randurile intre ele
df = df.sample(frac=1)

In [12]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
87,46,1,1,101,197,1,1,156,0,0.0,2,0,3,1
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
237,60,1,0,140,293,0,0,170,0,1.2,1,2,3,0
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
46,44,1,2,140,235,0,0,180,0,0.0,2,0,2,1

In [14]:
# toate coloanele fara target, axis dupa coloane transformam in matrice
X = df.drop(['target'], axis=1).values
# la fel si pentru y
y =df['target'].values

In [15]:
X

array([[45.,  0.,  0., ...,  1.,  0.,  2.],
       [46.,  1.,  1., ...,  2.,  0.,  3.],
       [38.,  1.,  2., ...,  2.,  4.,  2.],
       ...,
       [59.,  1.,  0., ...,  1.,  2.,  1.],
       [62.,  0.,  0., ...,  1.,  0.,  2.],
       [44.,  1.,  2., ...,  2.,  0.,  2.]])

In [16]:
y

array([1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1], dtype=int64)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [18]:
knn = KNeighborsClassifier()

In [19]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [20]:
# efectuam predictia
y_pred = knn.predict(X_test)

In [21]:
y_pred

array([0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0], dtype=int64)

In [22]:
#acurracy scor ne permite sa comparam datele reale cu datele prezise de algoritm
accuracy_score(y_pred, y_test)

0.5921052631578947

In [23]:
# marim acuratetea
from sklearn.preprocessing import StandardScaler

In [26]:
std = StandardScaler()
X_train_scaled = std.fit_transform(X_train)

In [27]:
X_test_scaled = std.transform(X_test)

In [28]:
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier()

In [29]:
y_pred = knn.predict(X_test_scaled)

In [30]:
accuracy_score(y_test, y_pred)

0.8026315789473685